.row>*{
    padding-right: 0 !important;
}
h1,h2,h3,h4,h5,h6,p{
    margin-bottom: 0;
}
.address{
    border: 1px solid #000;
}
.border-btm{
    border-bottom: 1px solid #000;
}
.border-btm-2{
    border-bottom: 2px solid #000;
}
.font-16{
    font-size: 16px;
}
.bold{
    font-weight: 700;
}
.margin-btm-30{
    margin-bottom: 30px;
}